body {
    background-color: #FFE6E6;
    font-size:x-large;
    display: flex;
    justify-content: center;
    font-family: 'Silkscreen', cursive;
    min-height: 100vh;
    overflow: hidden;
}

h1 {
    font-weight: 700;
}

.container {
    background-color: pink;
    border-radius: 20px;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 600px;
    box-shadow: 5px 5px 10px gray;
}


.cards div {
    background-color: white;
    padding: 10px;
    margin: 20px 40px;
    border-radius: 10px;
}

.cards .score {
    display: flex;
    justify-content: space-around;
}

.score div {
    background-color: #FFE6E6;
}


h1,
.choice,
.winner,
.rps {
    text-align: center;
}

.rps button {
    background-color: #FFE6E6;
    border-radius: 15px;
    padding: 10px;
    font-size:xx-large;
    margin: 10px 10px 20px 10px;
    font-family: 'Silkscreen', cursive;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    width: 200px;
}

.rps button:hover {
    background-color: #f8cbcb;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transform: translateY(-2px);
}

.resetButton:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transform: translateY(-2px);
}

.rps button:active,
.resetButton:active {
    box-shadow: none;
    transform: translateY(0);
}


button:disabled {
    pointer-events: none;
}

.reset {
    text-align: center;
}

.resetButton {
    margin-bottom: 5px;
    font-family: 'Silkscreen', cursive;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    font-size: x-large;
}





